* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #191919;
}

.landing_logo {
    width: 8.5em;
    height: auto;
    padding: 10px 40px 70px;
}

.main {
    padding: 0px 46px 50px;
    margin: 8px 10px
}

.heading_main {
    text-align: center;
    color: white;
    font-size: 2.5em;
    line-height: 1.2;
    letter-spacing: 3px;
    padding: 15px 5px;
}

.heading_paragraph {
    text-align: center;
    color: #3e3e3e;
    padding: 0px 1.2em 30px 0px;
    font-size: 1.2em;
}

.buttons {
    height: 200px;
  position: relative;
}

.preordernow {
    font-size: 1.2em;
    padding: 10px;
    color: white;
    background-color: black;
    outline: none;
    cursor: pointer;
    border-style: none;
    font-weight: 200;
    margin: 0;
    position: absolute;
    left: 35%;
}

.getintouch {
    font-size: 1.2em;
    padding: 10px;
    color: white;
    background-color: black;
    outline: none;
    cursor: pointer;
    border-style: none;
    font-weight: 200;
    margin: 0;
    position: absolute;
    left: 50%;
}

.productivity_logo {
    max-width: 10%;
    margin-left: 30%;
    margin-right: auto;
    padding: 10px 10px 10px 4.2em;
    display: block;
}

.section_two {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.heading_sectiontwo {
    text-align: center;
    color: white;
    padding: 10px 20px 1px;
    margin: 5px 13px;
    letter-spacing: 1px;
    font-size: 20px;
}

.heading_sectiontwo_paragraph {
    text-align: center;
    color: white;
    padding: 0px 20px 30px 33px;
    font-size: 0.8em;
}

.section_heading_three {
    text-align: center;
    color: white;
    font-size: 1.5em;
    letter-spacing: 3px;
    padding: 1.5em 0px 20px;
}

.section_three_paragraph {
    text-align: center;
    color: #3e3e3e;
    padding: 0px 8em 25px;
    font-size: 1.2em;
}

.card_container {
    width: 18em;
    height: 22em;
    background-color: blue;
    overflow: hidden;
    border-radius: 1em;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    padding: 25px 25px 11px 15px;
    margin: 10px 30em;
}

/* Card Template Code Come here */
.card_content {
    padding: 0px 20px 10px;
    margin: 40px -6px;
}

/* Get In Touch */

.container {
    background-color: #15181D;
    padding: 0px 0px 4em 0px;
    margin: 15px 9em;
}

.buying {
    color: white;
    padding: 3em 2.5em 0px 50px;
    margin: 10px -15px;
    font-size: 1.3em;
}

.four_getintouch {
    font-size: 1.2em;
    padding: 10px;
    color: white;
    background-color: black;
    outline: none;
    cursor: pointer;
    border-style: none;
    font-weight: 200;
    margin: 0px;
    position: absolute;
    left: 70%;
    margin: -42px 60px;
}

.footer_logo {
    width: 4.5em;
    height: auto;
    padding: 10px 40px 10px;
    margin: 5px -25px -10px;
}

.copyright {
    color: white;
    padding: 10px 23px;
    font-size: 0.5em;
    font-weight: normal;
    margin: -5px 10px 5px;
}

.icons {
    font-size: 1.2em;
    padding: 10px;
    color: white;
    outline: none;
    cursor: pointer;
    border-style: none;
    font-weight: 200;
    margin: 0px;
    position: absolute;
    left: 70%;
    margin: -80px 85px;
    font-weight: normal;
}

.links {
    font-size: 0.8em;
    margin: -20px -80px;
    outline: none;
    cursor: pointer;
    border-style: none;
    font-weight: 200;
    position: absolute;
    left: 70%;
    
}

a {
    text-decoration: none;
    color: white;
    color: white;
    padding: 10px;
    font-size: 0.8em;
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
}